<!doctype html>
{% load static %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>KJSIEIT | Contact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- All Plugin Css -->
		<link rel="stylesheet" href="{% static 'css/plugins.css' %}">

		<!-- Style & Common Css -->
		<link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <body>

		<!-- Navigation Start  -->
		{% include "home_dashboard.html" %}
		<!-- Navigation End  -->

		<!-- Main jumbotron for a primary marketing message or call to action -->

		<section class="profile-detail">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="basic-information">
							<div class="col-md-3 col-sm-3">
							 <img src="{% static 'img/kjsieit.jpg' %}" alt="" class="img-responsive">
							</div>
							<div class="col-md-9 col-sm-9">
								<div class="profile-content">
										<h2><span class="box1">K.J. Somaiya Institute of Engineering & Information Technology</span></h2>
										<ul class="information">
											<li><span>Address:</span>Somaiya Ayurvihar Complex, Eastern Express Highway, Sion(East), Mumbai–400 022</li>
											<li><span>Email:</span> <a href="mailto:info.tech@somaiya.edu" target="_blank">info.tech@somaiya.edu</a></li>
											<li><span>Contact:</span><a href="tel:22 24061408" target="_blank">+91 22 24061408 / 24061403</a></li>

										</ul>
									</div>
								</div>

							<ul class="social">
								<li><a href="https://www.facebook.com/kjsieitofficial" class="facebook" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
								<li><a href="https://www.youtube.com/kjsieitofficial" class="google" target="_blank"><i class="fa fa-youtube"></i>Youtube</a></li>
								<li><a href="https://twitter.com/kjsieit1" class="twitter" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
								<li><a href="https://www.linkedin.com/in/kjsieit" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i>Linked In</a></li>
								<li><a href="https://www.instagram.com/kjsieit_22/" class="instagram" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
							</ul>

							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> About KJSIEIT
								</div>
								<div class="panel-body">
								<p style="color:black;">
									K. J. Somaiya Institute of Engineering and Information Technology (KJSIEIT), Sion, Mumbai 
									is an Autonomous Institute affiliated to the University of Mumbai, recognized by UGC, 
									and approved by AICTE and DTE - Maharashtra State. KJSIEIT offers UG Programmes in
									Computer Engineering, Information Technology, Artificial Intelligence & Data Science,
									Electronics & Telecommunication Engineering, Electronics Engineering, and PG Programme 
									in Artificial Intelligence. KJSIEIT is accredited with ‘A’ Grade (CGPA 3.21) by the
									National Assessment & Accreditation Council (NAAC) of India for 5 Years and its 2 
									Programmes are accredited by the National Board of Accreditation (NBA). Recently, 
									KJSIEIT was presented Best College Award by the University of Mumbai (Urban Region), 
									ISTE (Maharashtra and Goa Section), and CSI (Mumbai Region). In the AICTE-CII Survey 
									of Industry-Linked Technical Institutes, KJSIEIT is placed in Platinum Category for 
									2020, 2019 & 2018 and in Gold Category for 2017 & 2016 due to the strong industry 
									interaction. KJSIEIT - Institution's Innovation Council (IIC) was listed as one of 
									the Top 3 IICs & Top 5 IICs in Western Zone and as one of the Top 25 IICs & Top 40 
									IICs in the Nation for the Years 2018-19 & 2019-20 respectively by the Ministry of 
									Education’s Innovation Cell. In the National Institutional Ranking Framework (NIRF) -
									Indian Rankings 2020, KJSIEIT has been placed in Rank Band 251-300 by the Ministry of 
									Education. In Atal Ranking of Institutions on Innovation Achievements (ARIIA) 2020 by
									the Ministry of Education, KJSIEIT is placed in Rank Band ‘B’ indicating a rank in the
									Top 50 participating Private Institutions across India. The institute has been 
									concentratedly focusing on Research & Development and bags several other awards and accolades to its credit.
									</p>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> About Department of Information Technology
								</div>
								<div class="panel-body">
								<p style="color:black;">Department of Information Technology offers B.Tech. 
									(Information Technology) programme under the Autonomous Status conferred to 
									the institute by the UGC and the University of Mumbai since Academic Year 2021-22. 
									The department offered B.E. (Information Technology) since Academic Year 2001-02 to 
									2020-21 and has facilitated the graduation of more than 1000 students by now. 
									Department of Information Technology empowers its students to become the technological 
									leaders of tomorrow by imparting quality education and knowledge of cutting-edge 
									Information Technology. The department enormously encourages research and innovative 
									projects for application areas like healthcare, societal contribution, automation, 
									agriculture, security and surveillance, etc. using Artificial Intelligence, Machine 
									Learning, Internet of Things, Big Data Analytics, Blockchain, Cloud Computing, etc. 
									The department lays emphasis on project-based learning using model tools and technologies 
									and this product "Event Management System (EMS)" is an outcome of the same. 
									The department has a strong tie-up with various industries and a culture of internship 
									for all students to provide students with exposure to the environment they will become
									part of and make them industry-ready. Also, the department has a good record of both 
									academics and placements. Prominence is laid on hands-on aspects through laboratories,
									co-curricular, and extra-curricular activities to help students explore interests and
									create a broader perspective, build higher self-esteem and learn essential life skills.
									Students of the department have been working responsibly on live projects as well as
									actively participate in various project competitions, hackathons,
								 	paper presentations, etc. and win prizes, bringing pride to the department.
								</p>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Vision Of the Department
								</div>
								<div class="panel-body">
								<p style="color:black;">
									To be recognized as a center of excellence in the field of Information Technology 
									where inquisitive minds of students are fostered, 
									leading to skilled professionals and contributing citizens.
								</p>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Mission of the Department
								</div>
								<div class="panel-body">
								<p><ul style="color:black;">
								<li>To produce industry ready engineers by imparting quality education and enhancing their proficiency with strong engineering foundation and in-depth knowledge of Information Technology.</li>
								<li>To encourage curiosity, creativity, innovative thinking, culture of continuous learning and multidisciplinary activities for developing state-of-the-art solutions to real-world problems.</li>
								<li>To serve humanity by creating socially responsible citizens with high ethical values who can communicate effectively and work independently or in groups.</li>
							</ul></p>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Program Educational Objectives (PEOs)
								</div>
								<div class="panel-body">
								<p><ul style="color:black;">
								<li>Graduates will be able to apply knowledge of engineering fundamentals and cutting edge Information Technology to identify and implement innovative solutions for engineering problems and issues in society.
</li>
								<li>Graduates will be able to exhibit their employability skills and practice the ethics of their profession with a sense of social responsibility.
								</li>
								<li>Graduates will have strong interpersonal skills and will engage in life-long learning to enhance their career positions, both as team members and leaders.
								</li>
							</ul></p>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Program Specific Outcomes (PSOs)
								</div>
								<div class="panel-body">
								<p><ul style="color:black;">
								<li>Graduates will be able to apply standard software engineering practices in real-world project development to deliver efficient, secure and novel solutions.
								</li>
								<li>Graduates will be able to apply the contemporary trends in Information Technology like Internet of Things and Data Science in diverse application areas.
								</li>
							</ul></p>
								</div>
							</div>

								<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Placement Information Management System (PIMS)
								</div>
								<div class="panel-body">
								<p style="color:black;"><span style="font-weight:bold;">Placement Information Management System (PIMS)</span> supercede the traditional method of carrying out the entire placement procedure. As a whole this portal provides an end-to-end solution for all placement procedures, right from taking student details to getting the placement details of the current batch.
								<ul style="color:black;">
								<li><span style="font-weight:bold;">All details of students and Company:</span> The TPO officer has to maintain the all the records of both the students and the company. TNP portal will help to store all the students data under this platform and to notify students regarding the companies accordingly
								</li>
								<li><span style="font-weight:bold">Department wise Authentication:</span> Each department placement coordinator needs to maintain the respective department record. TNP has this module where in each dept coordinator has access to their department details
								</li>
								<li><span style="font-weight:bold;">Autogenrated mails to student :</span> Notifying company details to students according to their eligibility is a task. This system sort students according to eligibility and an auto mail will be send to them.
								</li>
								<li><span style="font-weight:bold;">Auto resume generation :</span> Portal takes details from students side and auto generates resume in proper college format
								</li>
								<li><span style="font-weight:bold;">Easy access to details :</span> Both the student and admins will have an easy access to the respective details. The students can see the list of all companies visiting and their eligibility criteria and the admins will also have access to all students details under single platform.
								</li>
							</ul></p>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Developed By
								</div>
								<div class="panel-body box1">
								<p><ul style="color:black;">
								<li>Manan Kotak, Student, Department of Information Technology
								</li>
								<li>Parth Kanani, Student, Department of Information Technology
								</li>
								<li>Pradeep Ramola, Student, Department of Information Technology
								</li>
								<li>Swapnil Joshi, Student, Department of Information Technology
								</li>
								<li><a href="https://www.instagram.com/tejas_chaplot/" style="color: black;">Tejas Chaplot, Student, Department of Information Technology</a>
								</li>
								<li>Adnan Kadiwala, Student, Department of Information Technology
								</li>
								<li>Jeet Bhanushali, Student, Department of Information Technology
								</li>
								<li>Pragathi Mahale, Student, Department of Information Technology
								</li>
								<li>Subhalaxmi Das, Student, Department of Information Technology
								</li>
							</ul></p>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" style="font-size: 30px;color: maroon;">
									<i class=""></i> Under the Guidance of
								</div>
								<div class="panel-body box1">
								<p><ul style="color:black;">
								<li>Prof. Vijaya Umesh Pinjarkar, Assistant Professor, Department of Information Technology
								</li>
								<li>Dr. Radhika Kotecha, Associate Professor and Head - Department of Information Technology
								</li>


							</ul></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- footer start -->
		{% include "footer.html" %}
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/bootsnav.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>