<!doctype html>
{% load static %}
<html class="no-js" lang="en">
    <head>
        
<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'http://localhost/Open-Web-Analytics-1.7.3/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', 'cea78186b3a1a9874b7bcad9241409d6']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);

(function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
<!-- End Open Web Analytics Code -->
        <div style="background-color:white;">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>KJSIEIT | Placement Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- All Plugin Css -->
		<link rel="stylesheet" href="{% static 'css/plugins.css' %}">

		<!-- Style & Common Css -->
		<link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    </head>

    <body>

    	{% include "home_dashboard.html" %}
		   <form method="POST">
		       {% csrf_token %}
		    <label for="interested">Are You Interested in campus placement</label><br>

		<input type="radio" name="interested" value="1">Yes
		<input type="radio" name="interested" value="0">No
		<input type="submit" value="submit">

</form>
</body>
</html>